body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(3%);
    font-size: small;
    /* background-color: red; */
}

.container {
    display: flex;
    width: 40rem;
    height: 40rem;
    margin: 0;
    background-image: url("../img/UPA_map.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.info {
    position: relative;
    margin: 0;
    top: 85%;
}